<section class="top-section">
  <div class="item-info">
    <img src="{{item.img}}" alt="{{item.name}}" class="item-image" data-action="editImage" data-edit="img"/>
    <h2 class="item-name">{{formInput item.schema.fields.name value=source.name placeholder="Item Name"}}</h2>
  </div>
</section>