<section class="top-section">
  <div class="item-info">
    <img src="{{item.img}}" alt="{{item.name}}" class="item-image" />
    <h2 class="item-name"><input
        type="text"
        value="{{item.name}}"
        name="name"
      /></h2>
  </div>
</section>