
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="tab-icon" data-action="tab" data-tab="cechy_glowne" data-group="sheet">
      <i class="fas fa-dumbbell"></i> <!-- cechy fizyczne = siła -->
    </a>
    
    <a class="tab-icon" data-action="tab" data-tab="aspekty_talenty" data-group="sheet">
      <i class="fas fa-star"></i> <!-- aspekty/talenty -->
    </a>
    
    <a class="tab-icon" data-action="tab" data-tab="sprzet" data-group="sheet">
      <i class="fas fa-toolbox"></i> <!-- sprzęt -->
    </a>
    
    <a class="tab-icon" data-action="tab" data-tab="klatwy_blogoslawiensta" data-group="sheet">
      <i class="fas fa-praying-hands"></i> <!-- klątwy / błogosławieństwa -->
    </a>
    
    <a class="tab-icon" data-action="tab" data-tab="haki_fabularne" data-group="sheet">
      <i class="fas fa-link"></i> <!-- haki fabularne = powiązania fabularne -->
    </a>
  </nav>

