<section class="tab aspekty_talenty {{tabs.aspekty_talenty.cssClass}}" 
action-data="tab"  
data-group="sheet"  
data-tab="aspekty_talenty">
    <div class="aspekt-item">
        <h3 class="heder-tabs">ASPEKTY</h3>
        <div class="talent-item">
            <h3 class="heder-tabs">TELENTY</h3>
        </div>
    </div>
</section>
